In [1]:
# Importar librerias necesarias.
import pandas as pd
import plotly.express as px
import streamlit as st

In [2]:
# Cargar los datos.
car_data = pd.read_csv("/Users/EugenioLopez/WORKSPACE PYTHON/vehicles_env/vehicles_us.csv") # leer los datos

In [3]:
# Mostrar los primeros registros del DataFrame.
car_data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed
0,9400,2011.0,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,1.0,2018-06-23,19
1,25500,NaN,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,1.0,2018-10-19,50
2,5500,2013.0,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,NaN,2019-02-07,79
3,1500,2003.0,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,NaN,2019-03-22,9
4,14900,2017.0,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,NaN,2019-04-02,28

In [4]:
# Información sobre el DataFrame.
car_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51525 entries, 0 to 51524
Data columns (total 13 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   price         51525 non-null  int64
 1   model_year    47906 non-null  float64
 2   model         51525 non-null  object
 3   condition     51525 non-null  object
 4   cylinders     46265 non-null  float64
 5   fuel          51525 non-null  object
 6   odometer      43633 non-null  float64
 7   transmission  51525 non-null  object
 8   type          51525 non-null  object
 9   paint_color   42258 non-null  object
 10  is_4wd        25572 non-null  float64
 11  date_posted   51525 non-null  object
 12  days_listed   51525 non-null  int64
dtypes: float64(4), int64(2), object(7)
memory usage: 5.1+ MB

In [5]:
# rellenar valores nulos en columnas is_4wd
car_data["is_4wd"] = car_data["is_4wd"].fillna("not 4wd")

In [6]:
# convertor formato de columna date_posted a formato fecha
car_data["date_posted"] = pd.to_datetime(car_data["date_posted"], format="%Y-%m-%d")
# Rellenar valores en columna model_year con 0 donde sea NaN y reemplazar 0 por "unknown"
car_data["model_year"] = car_data["model_year"].fillna(0).astype(int).replace(0, "unknown")
# Reemplazar 1.0 en la columna is_4wd por "4wd"
car_data["is_4wd"] = car_data["is_4wd"].replace(1.0, "4wd")

In [7]:
# Crear una nueva columna "brand" extrayendo la marca del modelo.
car_data["brand"] = car_data["model"].str.split().str[0]

In [8]:
car_data.head()

,price,model_year,model,condition,cylinders,fuel,odometer,transmission,type,paint_color,is_4wd,date_posted,days_listed,brand
0,9400,2011,bmw x5,good,6.0,gas,145000.0,automatic,SUV,NaN,4wd,2018-06-23,19,bmw
1,25500,unknown,ford f-150,good,6.0,gas,88705.0,automatic,pickup,white,4wd,2018-10-19,50,ford
2,5500,2013,hyundai sonata,like new,4.0,gas,110000.0,automatic,sedan,red,not 4wd,2019-02-07,79,hyundai
3,1500,2003,ford f-150,fair,8.0,gas,NaN,automatic,pickup,NaN,not 4wd,2019-03-22,9,ford
4,14900,2017,chrysler 200,excellent,4.0,gas,80903.0,automatic,sedan,black,not 4wd,2019-04-02,28,chrysler

In [9]:
# Reordenar las columnas por orden alfabetico.
car_data = car_data[sorted(car_data.columns)]

In [10]:
car_data.head()

,brand,condition,cylinders,date_posted,days_listed,fuel,is_4wd,model,model_year,odometer,paint_color,price,transmission,type
0,bmw,good,6.0,2018-06-23,19,gas,4wd,bmw x5,2011,145000.0,NaN,9400,automatic,SUV
1,ford,good,6.0,2018-10-19,50,gas,4wd,ford f-150,unknown,88705.0,white,25500,automatic,pickup
2,hyundai,like new,4.0,2019-02-07,79,gas,not 4wd,hyundai sonata,2013,110000.0,red,5500,automatic,sedan
3,ford,fair,8.0,2019-03-22,9,gas,not 4wd,ford f-150,2003,NaN,NaN,1500,automatic,pickup
4,chrysler,excellent,4.0,2019-04-02,28,gas,not 4wd,chrysler 200,2017,80903.0,black,14900,automatic,sedan

In [11]:
# Condition de los vehículos por marca.
brand_df = car_data.groupby("brand")["condition"].value_counts()

brand_df.head()

brand  condition
acura  excellent    105
       good          98
       like new      24
       fair           9
bmw    excellent    160
Name: count, dtype: int64

In [12]:
# Precio de los vehículos por marca.
price_df = car_data.groupby("brand")["price"].mean().reset_index()
price_df

            brand         price
0           acura   6474.500000
1             bmw  10695.891386
2           buick  11439.612546
3        cadillac  17032.059006
4       chevrolet  14333.427104
5        chrysler   8182.738663
6           dodge   8067.058167
7            ford  12697.651989
8             gmc  15602.340622
9           honda   7317.624103
10        hyundai   7256.994885
11           jeep  12774.383420
12            kia   8616.570940
13  mercedes-benz  34900.000000
14         nissan   9346.470387
15            ram  18183.618818
16         subaru   8732.718553
17         toyota  10097.875115
18     volkswagen   7257.406214

In [13]:
car_data.head()

,brand,condition,cylinders,date_posted,days_listed,fuel,is_4wd,model,model_year,odometer,paint_color,price,transmission,type
0,bmw,good,6.0,2018-06-23,19,gas,4wd,bmw x5,2011,145000.0,NaN,9400,automatic,SUV
1,ford,good,6.0,2018-10-19,50,gas,4wd,ford f-150,unknown,88705.0,white,25500,automatic,pickup
2,hyundai,like new,4.0,2019-02-07,79,gas,not 4wd,hyundai sonata,2013,110000.0,red,5500,automatic,sedan
3,ford,fair,8.0,2019-03-22,9,gas,not 4wd,ford f-150,2003,NaN,NaN,1500,automatic,pickup
4,chrysler,excellent,4.0,2019-04-02,28,gas,not 4wd,chrysler 200,2017,80903.0,black,14900,automatic,sedan

In [14]:
odometer_cars = (
    car_data.groupby(["condition", "brand", "price", "odometer"])
    .size()
    .reset_index(name="count")
)

In [15]:
odometer_cars

       condition       brand  price  odometer  count
0      excellent       acura   2000  100000.0      1
1      excellent       acura   2300  251800.0      1
2      excellent       acura   2500  180000.0      1
3      excellent       acura   2600  287101.0      1
4      excellent       acura   3299  116234.0      1
...          ...         ...    ...       ...    ...
32666    salvage      toyota   9900   54000.0      1
32667    salvage      toyota  11000   64046.0      1
32668    salvage      toyota  18500   63000.0      1
32669    salvage      toyota  20750   29328.0      2
32670    salvage  volkswagen    800  221000.0      1

[32671 rows x 5 columns]

In [22]:

fig = px.histogram(price_df, x="brand", y="price") # crear un histograma
fig.show() # crear gráfico de dispersión